In [26]:
import pandas as pd

Adding Column

In [27]:
data = {
    "name":['Raj Sharma', 'Surya Pratap', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 20, 21, 32, 24, 22],
   "salray": [20000, 25000, 30000, 40000, 35000, 32000],
    "performance score": ['Good', 'Very Good', 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# if we want to add column at the end of dataframe
df["Bonus"] = df["salray"] * 0.10 
print("\nDataFrame after adding Bonus column:")
print(df)

# using insert() - > if we want to add column at specific location
# df.insert(loc, column data , some value)
df.insert(0 , "Employee_ID" , [101, 102, 103, 104, 105, 106])
print("\nDataFrame after inserting Employee_ID column:")
print(df)

Original DataFrame:
            name  age  salray performance score
0     Raj Sharma   19   20000              Good
1   Surya Pratap   20   25000         Very Good
2   Prince Kumar   21   30000         Excellent
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent

DataFrame after adding Bonus column:
            name  age  salray performance score   Bonus
0     Raj Sharma   19   20000              Good  2000.0
1   Surya Pratap   20   25000         Very Good  2500.0
2   Prince Kumar   21   30000         Excellent  3000.0
3   Aniket Yadav   32   40000           Average  4000.0
4    Ayush Singh   24   35000              Good  3500.0
5  Prince sharma   22   32000         Excellent  3200.0

DataFrame after inserting Employee_ID column:
   Employee_ID           name  age  salray performance score   Bonus
0          101     Raj Sharma   19   20000              Good  2000.0
1          102   Surya Pratap   20   25000         Very Good  2500.0
2          103   Prince Kumar   21   30000         Excellent  3000.0
3          104   Aniket Yadav   32   40000           Average  4000.0
4          105    Ayush Singh   24   35000              Good  3500.0
5          106  Prince sharma   22   32000         Excellent  3200.0

Updating

In [28]:
data = {
    "name":['Raj Sharma', 'Surya Pratap', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 20, 21, 32, 24, 22],
   "salray": [20000, 25000, 30000, 40000, 35000, 32000],
    "performance score": ['Good', 'Very Good', 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

 # loc[] - > to add column at specific location
 # df.loc[<row_index> , "<column_name>"] = <some_value>
df.loc[0 , "salray"] = 22000
print("\nDataFrame after updating salray for first employee:")
print(df)

Original DataFrame:
            name  age  salray performance score
0     Raj Sharma   19   20000              Good
1   Surya Pratap   20   25000         Very Good
2   Prince Kumar   21   30000         Excellent
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent

DataFrame after updating salray for first employee:
            name  age  salray performance score
0     Raj Sharma   19   22000              Good
1   Surya Pratap   20   25000         Very Good
2   Prince Kumar   21   30000         Excellent
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent

Updating a particular row

In [29]:
data = {
    "name":['Raj Sharma', 'Surya Pratap', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 20, 21, 32, 24, 22],
   "salray": [20000, 25000, 30000, 40000, 35000, 32000],
    "performance score": ['Good', 'Very Good', 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df['salray'] = df['salray'] * 1.5
print("\nDataFrame after updating salray for all employees:")
print(df)

Original DataFrame:
            name  age  salray performance score
0     Raj Sharma   19   20000              Good
1   Surya Pratap   20   25000         Very Good
2   Prince Kumar   21   30000         Excellent
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent

DataFrame after updating salray for all employees:
            name  age   salray performance score
0     Raj Sharma   19  30000.0              Good
1   Surya Pratap   20  37500.0         Very Good
2   Prince Kumar   21  45000.0         Excellent
3   Aniket Yadav   32  60000.0           Average
4    Ayush Singh   24  52500.0              Good
5  Prince sharma   22  48000.0         Excellent

Removing column

In [30]:
data = {
    "name":['Raj Sharma', 'Surya Pratap', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 20, 21, 32, 24, 22],
   "salray": [20000, 25000, 30000, 40000, 35000, 32000],
    "performance score": ['Good', 'Very Good', 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

 #df.drop(column= "column_name" , inplace=True) 
df.drop("performance score", axis=1 , inplace=True)
print("\nDataFrame after dropping performance score column:")
print(df)


 # delete a multiple columns
df.drop(columns=["age", "salray"] , inplace=True)
print("\nDataFrame after dropping age and salray columns:")
print(df)

Original DataFrame:
            name  age  salray performance score
0     Raj Sharma   19   20000              Good
1   Surya Pratap   20   25000         Very Good
2   Prince Kumar   21   30000         Excellent
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent

DataFrame after dropping performance score column:
            name  age  salray
0     Raj Sharma   19   20000
1   Surya Pratap   20   25000
2   Prince Kumar   21   30000
3   Aniket Yadav   32   40000
4    Ayush Singh   24   35000
5  Prince sharma   22   32000

DataFrame after dropping age and salray columns:
            name
0     Raj Sharma
1   Surya Pratap
2   Prince Kumar
3   Aniket Yadav
4    Ayush Singh
5  Prince sharma

Misssing Data Finding

In [31]:
data = {
    "name":['Raj Sharma', None, 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, None, 21, 32, 24, 22],
   "salray": [20000, None, 30000, 40000, 35000, 32000],
    "performance score": ['Good', None, 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

print(df.isnull().sum())

Original DataFrame:
            name   age   salray performance score
0     Raj Sharma  19.0  20000.0              Good
1           None   NaN      NaN              None
2   Prince Kumar  21.0  30000.0         Excellent
3   Aniket Yadav  32.0  40000.0           Average
4    Ayush Singh  24.0  35000.0              Good
5  Prince sharma  22.0  32000.0         Excellent
name                 1
age                  1
salray               1
performance score    1
dtype: int64

Removing missing data :

In [32]:
data = {
    "name":['Raj Sharma', None, 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, None, 21, 32, 24, 22],
   "salray": [20000, None, 30000, 40000, 35000, 32000],
    "performance score": ['Good', None, 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df.dropna(inplace=True)
print("\nDataFrame after dropping rows with any null values:")
print(df)

Original DataFrame:
            name   age   salray performance score
0     Raj Sharma  19.0  20000.0              Good
1           None   NaN      NaN              None
2   Prince Kumar  21.0  30000.0         Excellent
3   Aniket Yadav  32.0  40000.0           Average
4    Ayush Singh  24.0  35000.0              Good
5  Prince sharma  22.0  32000.0         Excellent

DataFrame after dropping rows with any null values:
            name   age   salray performance score
0     Raj Sharma  19.0  20000.0              Good
2   Prince Kumar  21.0  30000.0         Excellent
3   Aniket Yadav  32.0  40000.0           Average
4    Ayush Singh  24.0  35000.0              Good
5  Prince sharma  22.0  32000.0         Excellent

Adding / filling missing data :

In [33]:
data = {
    "name":['Raj Sharma', None, 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, None, 21, 32, 24, 22],
   "salray": [20000, None, 30000, 40000, 35000, 32000],
    "performance score": ['Good', "V.Good", 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df['age'].fillna(df['age'].mean(), inplace=True)
df['salray'].fillna(df['salray'].mean(), inplace=True)
print("\nDataFrame after filling null values with mean:")
print(df)

Original DataFrame:
            name   age   salray performance score
0     Raj Sharma  19.0  20000.0              Good
1           None   NaN      NaN            V.Good
2   Prince Kumar  21.0  30000.0         Excellent
3   Aniket Yadav  32.0  40000.0           Average
4    Ayush Singh  24.0  35000.0              Good
5  Prince sharma  22.0  32000.0         Excellent

DataFrame after filling null values with mean:
            name   age   salray performance score
0     Raj Sharma  19.0  20000.0              Good
1           None  23.6  31400.0            V.Good
2   Prince Kumar  21.0  30000.0         Excellent
3   Aniket Yadav  32.0  40000.0           Average
4    Ayush Singh  24.0  35000.0              Good
5  Prince sharma  22.0  32000.0         Excellent

C:\Users\Raj\AppData\Local\Temp\ipykernel_2644\3462261786.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)
C:\Users\Raj\AppData\Local\Temp\ipykernel_2644\3462261786.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salray'].fillna(df['salray'].mean(), inplace=True)

interpolate()

In [34]:
# interpolation to fill null values 
   # types of interpolation : linear, time, index, values, nearest,
                             #  zero, slinear, quadratic, cubic, spline, polynomial, barycentric, krog

data = { 
    "Time": [1, 2, 3, 4, 5, 6],
    "Value" : [10, None, 30, None, 50, 60]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df["Value"] = df["Value"].interpolate(method='linear')
print("\nDataFrame after linear interpolation:")
print(df)

Original DataFrame:
   Time  Value
0     1   10.0
1     2    NaN
2     3   30.0
3     4    NaN
4     5   50.0
5     6   60.0

DataFrame after linear interpolation:
   Time  Value
0     1   10.0
1     2   20.0
2     3   30.0
3     4   40.0
4     5   50.0
5     6   60.0

Sorting

In [35]:
data= {
    "name":['Raj Sharma', 'Surya', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 8, 21, 32, 24, 22],
   "salray": [20000, 212, 30000, 40000, 35000, 32000],
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df.sort_values(by="age",ascending=False , inplace=True)
print("\nDataFrame after sorting by age:")
print(df)

#mutli-level sorting
df.sort_values(by=["age", "salray"], inplace=True)
print("\nDataFrame after multi-level sorting by age and salray:")
print(df)

Original DataFrame:
            name  age  salray
0     Raj Sharma   19   20000
1          Surya    8     212
2   Prince Kumar   21   30000
3   Aniket Yadav   32   40000
4    Ayush Singh   24   35000
5  Prince sharma   22   32000

DataFrame after sorting by age:
            name  age  salray
3   Aniket Yadav   32   40000
4    Ayush Singh   24   35000
5  Prince sharma   22   32000
2   Prince Kumar   21   30000
0     Raj Sharma   19   20000
1          Surya    8     212

DataFrame after multi-level sorting by age and salray:
            name  age  salray
1          Surya    8     212
0     Raj Sharma   19   20000
2   Prince Kumar   21   30000
5  Prince sharma   22   32000
4    Ayush Singh   24   35000
3   Aniket Yadav   32   40000

Grouping

In [36]:
data= {
    "name":['Raj Sharma', 'Surya', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 19, 22, 32, 24, 22],
   "salary": [20000, 212, 30000, 40000, 35000, 32000],
}
df = pd.DataFrame(data)
print("Original DataFrame:")    
print(df)
grouped = df.groupby('age')["salary"].sum()
print("\nSum of salaries grouped by age:")
print(grouped)

Original DataFrame:
            name  age  salary
0     Raj Sharma   19   20000
1          Surya   19     212
2   Prince Kumar   22   30000
3   Aniket Yadav   32   40000
4    Ayush Singh   24   35000
5  Prince sharma   22   32000

Sum of salaries grouped by age:
age
19    20212
22    62000
24    35000
32    40000
Name: salary, dtype: int64

Common aggregretion

In [ ]:
# df.groupby('group_col')['value_col'].count()
# df.groupby('group_col').size()
# df.groupby('group_col')['value_col'].mean()
# df.groupby('group_col')['value_col'].max()
# df.groupby('group_col')['value_col'].min()
# df.groupby('group_col')['value_col'].median()
# df.groupby('group_col')['value_col'].std()
# df.groupby('group_col')['value_col'].var()

Merging

In [43]:
data_Customers = pd.DataFrame({
    "CustomerID": [1, 2, 3, 4, 5, 6],
    "Region": ['North', 'South', 'East', 'West', 'North', 'South'],
    "Sales": [250, 150, 400, 300, 200, 350]
})
dat_order = pd.DataFrame({
    "OrderID": [101, 102, 103, 104, 105, 106],
    "CustomerID": [1, 2, 3, 4, 15, 6],
    "OrderAmount": [500, 300, 700, 400, 600, 800]
})
mergeInnwe = pd.merge(data_Customers, dat_order, on="CustomerID", how="inner") # Matching rows only
print("\nInner Merged DataFrame:")
print(mergeInnwe)
mergeLeft = pd.merge(data_Customers, dat_order, on="CustomerID", how="left") # All left + matches
print("\nLeft Join Merged DataFrame:")
print(mergeLeft)
mergeRight = pd.merge(data_Customers, dat_order, on="CustomerID", how="right") # All right + matches
print("\nRight Join Merged DataFrame:")
print(mergeRight)
mergeOuter = pd.merge(data_Customers, dat_order, on="CustomerID", how="outer") # All rows from both
print("\nOuter Join Merged DataFrame:")
print(mergeOuter)

Inner Merged DataFrame:
   CustomerID Region  Sales  OrderID  OrderAmount
0           1  North    250      101          500
1           2  South    150      102          300
2           3   East    400      103          700
3           4   West    300      104          400
4           6  South    350      106          800

Left Join Merged DataFrame:
   CustomerID Region  Sales  OrderID  OrderAmount
0           1  North    250    101.0        500.0
1           2  South    150    102.0        300.0
2           3   East    400    103.0        700.0
3           4   West    300    104.0        400.0
4           5  North    200      NaN          NaN
5           6  South    350    106.0        800.0

Right Join Merged DataFrame:
   CustomerID Region  Sales  OrderID  OrderAmount
0           1  North  250.0      101          500
1           2  South  150.0      102          300
2           3   East  400.0      103          700
3           4   West  300.0      104          400
4          15    NaN    NaN      105          600
5           6  South  350.0      106          800

Outer Join Merged DataFrame:
   CustomerID Region  Sales  OrderID  OrderAmount
0           1  North  250.0    101.0        500.0
1           2  South  150.0    102.0        300.0
2           3   East  400.0    103.0        700.0
3           4   West  300.0    104.0        400.0
4           5  North  200.0      NaN          NaN
5           6  South  350.0    106.0        800.0
6          15    NaN    NaN    105.0        600.0

Concatination

In [ ]:
Region1 = pd.DataFrame({
    "customer_Id": [1, 2, 3],
    "Name": ['Raj', 'Surya', 'Prince']
})
Region2 = pd.DataFrame({
    "customer_Id": [4, 5, 6],
    "Name": ['Aniket', 'Ayush', 'Aman']
})  
combined_vertical = pd.concat([Region1, Region2], ignore_index=True)
print("\nCombined DataFrame vertically using concat():")   
print(combined_vertical)
combined_horizontal = pd.concat([Region1, Region2], axis=1)
print("\nCombined DataFrame horizontally using concat():")
print(combined_horizontal)

Combined DataFrame using concat():
   customer_Id    Name
0            1     Raj
1            2   Surya
2            3  Prince
3            4  Aniket
4            5   Ayush
5            6    Aman

Combined DataFrame horizontally using concat():
   customer_Id    Name  customer_Id    Name
0            1     Raj            4  Aniket
1            2   Surya            5   Ayush
2            3  Prince            6    Aman