Read Data

In [1]:
import pandas as pd

read_datat = pd.read_csv('data.csv')
print(read_datat.head())

# read_ex = pd.read_excel('')  # excel file path needed
# print(read_ex.head())

# read_jsom = pd.read_json('') # json file path needed
# print(read_jsom.head())

# If your data is on cloud storage like AWS S3, you can use the following code:
# then we can use gcfs library to read data from cloud storage
#import gcfs

   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/

 Save Data

In [2]:
Data = {
    'Name': ['Raj', 'Surya', 'Prince', 'Aniket', 'Ayush'],
    'Age': [19, 20, 21, 32,24],
    'City': ['Gr.Noida', 'Gr.Noida', 'Noida', 'Gorakhpur', 'lucknow'],
    "degree": ['BCA', 'BBA', 'Animation', 'NEET', 'B.Tech']
}
df = pd.DataFrame(Data)
print(df)

df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False)
df.to_json('output.json', index=False)

     Name  Age       City     degree
0     Raj   19   Gr.Noida        BCA
1   Surya   20   Gr.Noida        BBA
2  Prince   21      Noida  Animation
3  Aniket   32  Gorakhpur       NEET
4   Ayush   24    lucknow     B.Tech

Head & Tail

In [3]:
df = pd.read_csv('output.csv')
print(df.head())    # Print first 5 rows of data

df = pd.read_csv('output.csv')
print(df.tail())   # Print last 5 rows of data

     Name  Age       City     degree
0     Raj   19   Gr.Noida        BCA
1   Surya   20   Gr.Noida        BBA
2  Prince   21      Noida  Animation
3  Aniket   32  Gorakhpur       NEET
4   Ayush   24    lucknow     B.Tech
     Name  Age       City     degree
0     Raj   19   Gr.Noida        BCA
1   Surya   20   Gr.Noida        BBA
2  Prince   21      Noida  Animation
3  Aniket   32  Gorakhpur       NEET
4   Ayush   24    lucknow     B.Tech

info()  # to understand the data format

In [4]:
dg = pd.read_csv('output.csv')
print(df.info())  # Print concise summary of DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   degree  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes
None

Describe

In [5]:
data = {
    "name":['Raj Sharma', 'Surya Pratap', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 20, 21, 32, 24, 22],
   "salray": [20000, 25000, 30000, 40000, 35000, 32000],
    "performance score": ['Good', 'Very Good', 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print(df)
print('Discriptive Statistics:')
print(df.describe())    # Print descriptive statistics of DataFrame

            name  age  salray performance score
0     Raj Sharma   19   20000              Good
1   Surya Pratap   20   25000         Very Good
2   Prince Kumar   21   30000         Excellent
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent
Discriptive Statistics:
             age        salray
count   6.000000      6.000000
mean   23.000000  30333.333333
std     4.732864   7118.052168
min    19.000000  20000.000000
25%    20.250000  26250.000000
50%    21.500000  31000.000000
75%    23.500000  34250.000000
max    32.000000  40000.000000

Shape & column

In [6]:
data = {
    "name":['Raj Sharma', 'Surya Pratap', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 20, 21, 32, 24, 22],
   "salray": [20000, 25000, 30000, 40000, 35000, 32000],
    "performance score": ['Good', 'Very Good', 'Excellent', 'Average', 'Good', 'Excellent']
}
df = pd.DataFrame(data)
print(df)
print(f'Shape of Data :{df.shape}')   # Print shape of DataFrame in format (rows, columns)
print(f'Columns in Data :{df.columns}')   # Print column names of DataFrame

            name  age  salray performance score
0     Raj Sharma   19   20000              Good
1   Surya Pratap   20   25000         Very Good
2   Prince Kumar   21   30000         Excellent
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent
Shape of Data :(6, 4)
Columns in Data :Index(['name', 'age', 'salray', 'performance score'], dtype='object')

Filtering  Data

Column filter :

In [7]:
data = {
    "name":['Raj Sharma', 'Surya Pratap', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 20, 21, 32, 24, 22],
   "salray": [20000, 25000, 30000, 40000, 35000, 32000],
    "performance score": ['Good', 'Very Good', 'Excellent', 'Average', 'Good', 'Excellent']
}


print("Names (Single column):")
# print(df['name']) 
name = df['name']
print(name)  # Accessing first element of 'name' column

print("\n Multi-column Access (name and Salary):")
print(df[["name", "salray"]])  # Accessing multiple columns 'name' and 'salary'

Names (Single column):
0       Raj Sharma
1     Surya Pratap
2     Prince Kumar
3     Aniket Yadav
4      Ayush Singh
5    Prince sharma
Name: name, dtype: object

 Multi-column Access (name and Salary):
            name  salray
0     Raj Sharma   20000
1   Surya Pratap   25000
2   Prince Kumar   30000
3   Aniket Yadav   40000
4    Ayush Singh   35000
5  Prince sharma   32000

Rows filter :

In [8]:
data = {
    "name":['Raj Sharma', 'Surya Pratap', 'Prince Kumar', 'Aniket Yadav', 'Ayush Singh', 'Prince sharma'],
    "age": [19, 20, 21, 32, 24, 22],
   "salray": [20000, 25000, 30000, 40000, 35000, 32000],
    "performance score": ['Good', 'Very Good', 'Excellent', 'Average', 'Good', 'Excellent']
}
print("Rows single row access:")
print(df.iloc[2])  # Accessing third row of DataFrame
print("\n Rows multiple row access:")
print(df.iloc[[1, 3, 4]])  # Accessing multiple rows (2nd, 4th, and 5th)

print("\n Rows with condition :")
high_salary = df[df['salray'] > 30000]
print(high_salary)  # Accessing rows where salary is greater than 30000

print("\n Muti-condition row access :")
condition = df[(df['salray'] > 25000) & (df['age'] > 30)]
print(condition)  # Accessing rows where salary > 25000 and age < 30

print("\n salary above 30k and performance is Excellent or age above 25 :")
conditionor = df[df['salray']> 30000 & (df['age'] > 20) | (df['performance score'] == 'Good')]
print(conditionor)  # Accessing rows with complex conditions

Rows single row access:
name                 Prince Kumar
age                            21
salray                      30000
performance score       Excellent
Name: 2, dtype: object

 Rows multiple row access:
           name  age  salray performance score
1  Surya Pratap   20   25000         Very Good
3  Aniket Yadav   32   40000           Average
4   Ayush Singh   24   35000              Good

 Rows with condition :
            name  age  salray performance score
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent

 Muti-condition row access :
           name  age  salray performance score
3  Aniket Yadav   32   40000           Average

 salary above 30k and performance is Excellent or age above 25 :
            name  age  salray performance score
0     Raj Sharma   19   20000              Good
1   Surya Pratap   20   25000         Very Good
2   Prince Kumar   21   30000         Excellent
3   Aniket Yadav   32   40000           Average
4    Ayush Singh   24   35000              Good
5  Prince sharma   22   32000         Excellent